// .BedIcon {
//     position: absolute;
//     top: 10%;
//     left: 40%;
// }

.DestParent {
    background-color: white;
    padding: 0.5rem 0;
}

.DestInput {
 &:focus-visible{
    outline: 0 !important;
 }

}
.BedIcon {
    transform: translateX(10px);
}